body {
  margin: 0;
  text-align: center;
  color: #40514E;
}

.pro {
  text-decoration: overline;
  font-family: "Barriecito";
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 90px;
  font-family: "Monoton";
  color: #66BFBF;
  line-height: 4;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 450px;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
}

.cali {
  border-radius: 100%;
}

.middle-container {
  background-color: #F7F7F7;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

a {
  color: #fafbfe;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: black;
}
p {
  color: black;
  padding: 10px;
}

h3 {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.html-pic {
  float: left;
  margin-left: 30px;
}

.css-pic {
  float: right;
  margin-right: 20px;
}

hr {
  border: 0;
  border-top: dotted;
  border-width: thick;
  width: 3%;
  border-color: #66BFBF;
}
.contact-me{
  margin: 40px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: white;
}
.link{
  background-color: #66BFBF;
  padding-top: 2em;
  padding-bottom: 2em;
}
